name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"

  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  build:
    name: Generate Snake Animation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: pwnfo
          outputs: dist/snake.svg

      - name: Generate Snake (Dark Mode)
        uses: Platane/snk@v3
        with:
          github_user_name: pwnfo
          outputs: dist/snake-dark.svg
          palette: github-dark

      - name: Upload to Github Pages
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: my-snake
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
